&trackball_peripheral_split {
    device = <&trackball_peripheral>;
    type = <INPUT_EV_REL>;
    x-codes = <INPUT_REL_Y>;
    y-codes = <INPUT_REL_Y>;
    input-processors
        = <&zip_xy_to_scroll_mapper>
        , <&zip_scroll_scaler 1 4>
        , <&zip_ble_report_rate_limit>;
};
